html{
  height: 100%;
}

body {
  background: linear-gradient(90deg, rgb(15, 13, 27) 0%, rgba(0, 0, 0, 1) 0%, rgb(16, 47, 87) 87%);
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  cursor: pointer;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 25px;
}

.header span {
  margin-left: 5px;
  color: white;
}

.beta {
  background-color: #3498db;
  color: #fff;
  padding: 2px 5px;
  margin-left: 10px;
  font-size: 12px;
  border-radius: 3px;
}

.connect-button {
  border: 1px solid #ffffff;
  border-radius: 20px;
  padding: 8px 16px;
  color: #ffffff;
  cursor: pointer;
  margin-left: auto;
}

.middle-left {
  position: absolute;
  left: 0;
  top: 50px;
  bottom: 0px;
  width: 200px;
  padding: 10px;
  color: white;
}

